<!-- About Section -->
<section id="about" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">

    <h3 class="section-heading text-center mt-3">About</h3>

    <div class="row about-row m-0 mt-5 mb-4">

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 d-flex justify-content-center align-items-center">
        <img class="rounded-circle profile-img" data-tilt src="/content/ajithan.png" alt="Ajithan Profile Picture">
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 about-info-div d-flex justify-content-center align-items-center">
        <div class="row d-flex about-info-row justify-content-center align-items-center">
          <p class="about-info">
            Hello, my name is Ajithan Urutheran. I've graduated from computer engineering <span>(with a focus in software engineering)</span> at Toronto Metropolitan University. 
            I'm currently working as a research developer at <span>Toronto Metropolitan University</span> and a Full Stack Developer 
            at <span>RE/MAX</span>. 
            <br><br>

            When I'm not coding I go to the gym and workout. I also enjoy biking and exploring new places.
          </p>
        </div>

      </div>

    </div>

    <h3 class="section-sub-heading section-sub-heading-primary">Interests</h3>

    <div class="row pb-5 m-0">

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="ri:html5-fill" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Web Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="akar-icons:bootstrap-fill" data-width="35"
            data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">Frontend Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:database" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Backend Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:bike" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Biking</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:puzzle-edit" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Research</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:code-braces" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Programming</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="fluent:people-team-16-filled" data-width="35" data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">Project Management</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:weight-lifter" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Working Out</h4>
        </div>
      </div>
    </div>

  </div>

</section>