<!-- Technical Skills Section -->
<section id="project" class="section section-primary d-flex justify-content-center align-items-center">

    <div class="content content-primary">
        <h3 class="section-heading text-center mt-3">Projects</h3>

        <div class="row skills-row pb-5 m-0">

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="100">

                        <figure class="project-figure">
                            <img src="/content/DCF.png" class="project-img" alt="Variable Discounted Cashflow Calculator">
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    Variable Discounted Cashflow Calculator
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <a href="https://github.com/Aurutheran/DCF_Variable_Calculator" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="https://dcf-variable-calculator.vercel.app/" target="_blank" aria-label="Live Project"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external"
                                        data-width="35" data-height="35"></span>
                                </a>
                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge express-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:python-fill"></span>
                                    &nbsp;
                                    Python
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge nodejs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:fastapi"></span>
                                    &nbsp;
                                    FastAPI
                                </span>

                                

                               

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge jinja-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:jinja"></span>
                                    &nbsp;
                                    Jinja
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:javascript"></span>
                                    &nbsp;
                                    JavaScript
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:visualstudiocode"></span>
                                    &nbsp;
                                    VSCode
                                </span>

                        

                            </h5>
                        </div>

                        <p class="project-info">
                             Discounted Cash Flow web application that calculates the fair valuation of a company using it's financial statements. Added support to have variable rates rather than
                             fixed rates to accomodate for future events (market surges/crashes).
                        </p>

                        <span class="date-badge">
                            May 2023
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="200">

                        <figure class="project-figure">
                            <img src="/content/capstone.png" class="project-img" alt="Capstone Project">
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    Gesture Recognition Drone Controller
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">

                                <a href="https://github.com/Aurutheran/COE70_Capstone_LeapDrone" target="_blank" aria-label="Source Code"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a>

                                &nbsp;&nbsp;&nbsp;

                                <a href="https://www.youtube.com/watch?v=lC3N78IArf0&ab_channel=Jhin" target="_blank" aria-label="Infrared Controller Video Demonstration"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="mdi:youtube"
                                        data-width="35" data-height="35"></span>
                                </a>
                                &nbsp;&nbsp;&nbsp;

                                <a href="https://www.youtube.com/watch?v=qsb9fgnlHA4&ab_channel=Jhin" target="_blank" aria-label="AI CNN Controller Video Demonstration"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="mdi:youtube"
                                        data-width="35" data-height="35"></span>
                                </a>

                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:python-fill"></span>
                                    &nbsp;
                                    Python
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:tensorflow"></span>
                                    &nbsp;
                                    TensorFlow
                                </span>
                                
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:jupyter"></span>
                                    &nbsp;
                                    Jupyter
                                </span>


                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:pandas"></span>
                                    &nbsp;
                                    Pandas
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:visualstudiocode"></span>
                                    &nbsp;
                                    VSCode
                                </span>


                            </h5>
                        </div>

                        <p class="project-info">
                            A drone controller that utilizes machine learning (CNN) in order to classify hand gestures and convert them to drone control signals.
                        </p>

                        <span class="date-badge">
                            Feb 2022 - Present
                        </span>

                    </div>

                </div>
            </div>

            

            

        </div>

    </div>

</section>