<!-- Resume Section -->
<section id="resume" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">
    <h3 class="section-heading text-center mt-3">Resume</h3>

    <div class="row pb-5 m-0">
      <div class="col-lg-6  col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">
          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h4 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon" data-icon="zondicons:education"></span>Education
            </h4>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Bachelor of Engineering - Computer Engineering</span>
                <span class="resume-div-content">
                  <p class="mb-0">CGPA - 3.7</p>
                  <p class="mb-0">Toronto Metropolitan University (Sept 2018 - April 2022)</p>
                </span>

              </li>

            </ul>
          </div>

        </div>


        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-div-heading d-flex align-items-center text-justify">
              <span class="iconify resume-div-heading-icon"
                data-icon="material-symbols:home-work-outline-rounded"></span>Work Experience
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">RE/MAX</span>

                <span class="resume-div-content">
                  <p class="mb-1">Full Stack Developer</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Jan 2023 - Present
                      </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-mpt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"
                          aria-label="know more button"></span>
                      </button>
                    </div>
                  </div>

                </span>
                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-mpt-info d-none">
                  <li>
                    Maintains and deploys website with changes daily to improve quality and reduce errors
                  </li>

                  <li> Writes RESTful API to connect website with listings database
                  </li>

                  <li> Develops front-end using Next.JS with cutting edge React.JS and HTML/CSS techniques
                  </li>

                  <li> Creates reusable components in React.JS that are being employed in various parts of application
                  </li>

                  <li> Displays good teamwork and leadership skills in projects using daily scrum meetings
                  </li>


                  <li>
                    <b>Tools:</b> VScode, Next.JS, React.JS, MongoDB, Vercel, Git
                  </li>
                </ul>
              </li>
              <li class="resume-li">
                <span class="resume-div-sub-heading">Toronto Metropolitan University</span>

                <span class="resume-div-content">
                  <p class="mb-1">Research Developer</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Aug 2023 - Dec 2023
                      </span>
                    </div>

                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-amt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center"
                        aria-label="know more button">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"></span>
                      </button>
                    </div>
                  </div>

                </span>

                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-amt-info d-none">
                  <li>
                    Developed GIS web application to manipulate a myriad of 
geospatial research use cases including crime, accessibility, 
heatmap generation and social trust for different cities across the United Kingdom
                  </li>

                  <li>
                    Setup domain and hosted the website at
                    <a class="project-redirect-link d-inline-flex" target="_blank" aria-label="amt link"
                      href="https://trust-here.net">
                      trust-here.net
                    </a>
                  </li>

                  <li>
                    <b>Technologies:</b> HTML, CSS, JavaScript, <span>(React.JS, Next.JS)</span>, Git
                  </li>
                </ul>
              </li>

              

              <li class="resume-li">
                <span class="resume-div-sub-heading">Jump+</span>

                <span class="resume-div-content">
                  <p class="mb-1">Administrator</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Nov 2022 - May 2023
                      </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-apb-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"
                          aria-label="know more button"></span>
                      </button>
                    </div>
                  </div>

                </span>
                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-apb-info d-none">
                  <li>
                     Provided thorough administrative support to 10+ coworkers 
to ensure efficient business operations

                  </li>

                  <li>
                     Processed and managed customer queries regarding 
orders, information on 100+ products and complaints
                  </li>

                  <li>
                     Communicated closely with head of operations 
regarding any needs, concerns or issues in the office
                  </li>

                  <li>
                    <b>Technologies:</b> Salesforce, Slack, Excel
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </div>

      </div>


      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon"
                data-icon="fluent:certificate-20-filled"></span>Extracurricular
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Waste Collection Distributed System</span>

                <span class="resume-div-content">
                  <p class="mb-1">Backend Developer</p>
                  <span class="date-badge">
                    January 2022
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Peer to Peer Torrent Content Server</span>
                <span class="resume-div-content">
                  <p class="mb-1">Software Developer</p>
                  <span class="date-badge">
                    September 2021
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Car Braking Embedded System</span>
                <span class="resume-div-content">
                  <p class="mb-1">Software Developer</p>
                  <span class="date-badge">
                    October 2021
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Ryerson Tamil Student Association</span>

                <span class="resume-div-content">
                  <p class="mb-1">Web Developer</p>
                  <span class="date-badge">
                    September 2019
                  </span>
                </span>

              </li>


            </ul>
          </div>
        </div>

        

      </div>

    </div>

  </div>

</section>